html,body
{
  margin:0px;
  background-color:#e7e7e7;
}

#menu_smartphone {
  height:100%;
  position:fixed;
  background:#ffffff;
  top:0;
  bottom:0;
  left:-570px;
  width:250px;
  z-index:9999;
}
#menu_smartphone ul {
  padding:0;
  margin:0;
  list-style:none;
  overflow-y: scroll;
  color:#999999;
}
#menu_smartphone ul li {
  height:35px;
  font-family: arial;
  padding-top:10px;
  font-size: 18px;
  padding-left:10px;
}
#menu_smartphone ul li:hover {
  background:#f7f7f7;
}
#menu_smartphone ul li a {
  color:#999999;
  text-decoration: none;
  font-family:'Roboto';
  font-weight: 400;
  font-size:25px;
}
.background_profil
{
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/fond_menu_mobile.png);
  height: 170px;
}
.pics_profil
{
  width: 130px;
  height: 130px;
  border-radius:50%;
  background-size: cover;
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/img_welcome.png);
  margin-top: -65px;
}
.name_profil
{
  font-size: 20px;
  font-family: arial;
  font-weight: 400;
  color: #666666;
  margin-top: -50px;
  margin-left: 140px;
  margin-bottom: 40px;
}
.top
{
  background-color:#e51c23;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  line-height: 70px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 10px;
}

.divConteudo{
 position: absolute;
 top:70px;
 width: 100%;
 bottom: 0px;
 overflow-y: scroll;
}

#grey_back {
  display:none;
  background-color:#000000;
  opacity:0.7;
  width:100%;
  height:100%;
  z-index:9998;
  position:fixed;
  top:0;
}
.card
{
  height:20px;
  background-color:#ffffff;
  margin:10px;
  height: 60px;
  color:#666666;
  text-align: center;
  font-family: 'Roboto';
  box-shadow:0 0 2px #999999;
}

.p-nome{
  margin: 16px;
  font-family: arial;
  font-size: 30px;
  float: left;
}

.turma{
  margin: 2px;
  font-family: arial;
  font-size: 30px;
  float: right;
  background: #01579b;
  color:#fff;

  width: 30px;
  padding:15.5px;
}

.turma-D{
  margin: 2px;
  font-family: arial;
  font-size: 30px;

  width: 30px;
  float: right;
  background: #009688 ;
  color:#fff;
  padding:15.5px;
}

.turma-T{
  margin: 2px;
  font-family: arial;
  font-size: 30px;
  float: right;
  background:  #00bcd4;
  color:#fff;
  width: 30px;
  padding:15.5px;
}

.menu_btn
{
  cursor: pointer;
  left:0px;
  margin-top: 16px;
}
