

<section class="SectionAlfa">
    
    <header class="HeaderInicil">
     <img class="ImgHeader" src="img/icone.png">
     <p class="PHeader">Connect</p>
 </header>
    
<section class="Inicial Fundo">
    
    <img  class="Img-Fundo" src="img/fundo2.jpg">
    
 
    <div class="Menu">
        

<a href="#/listaBeneficios">        
        <div class="BoxHexagono1">
            <div class="DivHexagono"></div>
            <div class="hexagono1">
                <img class="IconMenuc1" src="img/Icons/ideia.svg">
                <p class="TextMenuc1">Benefícios</p> 
           </div>
        </div>
 </a>
        
    <a href="#/cadastros">        
        <div class="BoxHexagono2">
            <div class="DivHexagono"></div>
            <div class="hexagono1">
                <img class="IconMenuc1" src="img/Icons/cadastro.svg">
                <p class="TextMenuc1">Cadastros</p> 
           </div>
        </div>
 </a>    

    <a href="#/estatisticas">        
        <div class="BoxHexagono3">
            <div class="DivHexagono"></div>
            <div class="hexagono1">
                <img class="IconMenuc1" src="img/Icons/Estatistica.svg">
                <p class="TextMenuc1">Estatísticas</p> 
           </div>
        </div>
 </a>    

        
    </div>

    </section>
</section>
  