
<section class="SectionAlfa">
        
       <header class="HeaderBeneficios1">
          <div class="ImgHeaderAlfa">
            
             
              <img class="HexagonoHeader" src="img/Icons/hexagon1.svg">
               <a href="#/home">
                <img class="ImgHeaderBack" src="img/Icons/arrow.svg"> 
                <img class="ImgHeaderIcon" src="img/Icons/ideia2.svg">
                               
              </a>
          </div>
          <p class="PHeaderN1">Lista de beneficios</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="img/fundo-azul.jpg">
        
    
    

  <div class="Scroll">
           
            <div class="UlBeneficios2">
                
                 <div class="DivEstatisticaBeneficios DivEstatisticaBeneficios2">
                     <input  id="EstMoradia" type="checkbox" >
                     <label for="EstMoradia"><img src="img/Icons/lupa.svg"></label>
                    <input class="IPEstatisticaMoradia" title="text" placeholder="Buscar por comunidades">
                    <div class="Buscar"><img src="img/Icons/arrow.svg"></div>
            </div>

               <div class="LiCadastro" data-ng-repeat="beneficio in beneficios">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> {{beneficio.nome}}</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> {{beneficio.cpf}}</p>
                    <p class="PTxtCadastroData">
                        <span class="SpanAlfaData">Data:</span>{{beneficio.dataCadastro}}</p>
                
                <a href="#/detalhesBeneficios/{{beneficio._id}}">
                    <button class="BtnCadastroLi"><img src="img/Icons/arrow.svg"></button>
                </a>
              </div>
                
                
            </div>
  
    </div>
    </section>
    
    <a href="#/cadastroBeneficios">
      <button class="BtfListFloat">
          <p>+</p>
      </button>
    </a>
    
        </section>
   