

<section class="Inicial FundoLogin">
 
 <img  class="Img-Fundo2" src="img/fundo2.jpg"    >
     <div class="ScrollAlfa">
         <div class="Logo">
             <img src="img/Logo.png">
         </div>    
     
     
    <div class="container">

        <form>

          <div class="groupP">      
            <input  class="inputP inputP10" type="text" required  data-ng-model="user.name">
            <span class="highlightP"></span>
            <span class="barP"></span>
              <img class="ImgLogin2" src="img/Icons/avatar.svg">
            <label class="labelP labelP10">Usuário</label>
          </div>

          <div class="groupP">      
            <input  class="inputP inputP10" type="password" required  data-ng-model="user.pass">
            <span class="highlightP"></span>
            <span class="barP"></span>
              <img class="ImgLogin2" src="img/Icons/Email.svg">
            <label class="labelP labelP10">Senha</label>
          </div>

          </form>
             
        <a href=""><button class="BtnEntrar" data-ng-click="login(user)">Entrar</button></a>


    </div>
     
     </div>    
</section> 
    
