<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderCadastro">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/cadastro.svg">
                    </div>
                
                     <p class="PHeaderN">Buscar Cadastro</p>
                
            </header>
            
        <section class="Inicial Fundo">
               <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
      
                  
                  
                  
            <ul class="UlCadastro">
                       <form>
    
    <div class="groupM">      
      <input class="InputM" type="textM" placeholder="Busque por: Nome  ou CPF" required>
      <span class="highlightM"></span>
      <span class="barM"></span>
    </div>
      

    
            </form>
                <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                 <li class="LiCadastro">
                    <p class="PTxtCadastroNome">
                        <span class="SpanAlfa">Nome:</span> João Dantas</p>
                    <p class="PTxtCadastroCpf">
                        <span class="SpanAlfa">CPF:</span> 123.123.123.12</p>
                    <button class="BtnCadastroLi">+</button>
                </li>
                
                
            </ul>
            
         
            
        </section>
        
    </section>
</body>

</html>