<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    
<body>
        
       <header class="HeaderCadastro HeaderCadastro2 ">
          <div class="ImgHeaderAlfa">
          </div>
          <p class="PHeaderN">Cadastros</p>
       </header>
<section class="SectionAlfas">
    
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
    <div class="ScrollCadastroAll">
    <div class="groupTodasInfor0">
    

     <div class="groupTodasInfor groupTodasInforAgua">  
                <input class="inputMM" type="checkbox" id="Agua" name="" value="">
                <div class="DivAnimation DivAnimationTop DivAnimationAgua">
                     <input class="inputMM" type="checkbox" id="Agua" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Agua">
                        <p class="PAnimation">Agua</p>  
                        <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation  DivImgAnimation1">
                        <img class="ImgAnimation" src="/img/Icons/agua.svg">
                    </div>
                    <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
        </div>
                    

                </div>
     <div class="groupTodasInfor groupTodasInfor1">  
                <input class="inputMM" type="checkbox" id="Beneficios" name="" value="">
                <div class="DivAnimation DivAnimation1">
                     <input class="inputMM" type="checkbox" id="Beneficios" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Beneficios">
                        <p class="PAnimation">Beneficios</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation10">
                        <img class="ImgAnimation" src="/img/Icons/dinheiro.svg">
                    </div>
                    
                            <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>
     <div class="groupTodasInfor groupTodasInfor2">  
                <input class="inputMM" type="checkbox" id="Educacao" name="" value="">
                <div class="DivAnimation DivAnimation2">
                     <input class="inputMM" type="checkbox" id="Educacao" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Educacao">
                        <p class="PAnimation">Educação</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation9">
                        <img class="ImgAnimation" src="/img/Icons/caderno.svg">
                    </div>
                    
                  <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>
     <div class="groupTodasInfor groupTodasInfor3">  
                <input class="inputMM" type="checkbox" id="Energia" name="" value="">
                <div class="DivAnimation DivAnimation3">
                     <input class="inputMM" type="checkbox" id="Energia" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Energia">
                        <p class="PAnimation">Energia</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation4">
                        <img class="ImgAnimation" src="/img/Icons/energia.svg">
                    </div>
                    
                     <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>
     <div class="groupTodasInfor groupTodasInfor4">  
                <input class="inputMM" type="checkbox" id="Esporte/lazer" name="" value="">
                <div class="DivAnimation DivAnimation4">
                     <input class="inputMM" type="checkbox" id="Esporte/lazer" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Esporte/lazer">
                        <p class="PAnimation">Esportes e Lazer</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation5">
                        <img class="ImgAnimation" src="/img/Icons/lazer.svg">
                    </div>
                  <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>
     <div class="groupTodasInfor groupTodasInfor6">  
                <input class="inputMM" type="checkbox" id="Moradia" name="" value="">
                <div class="DivAnimation DivAnimation6">
                     <input class="inputMM" type="checkbox" id="Moradia" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Moradia">
                        <p class="PAnimation">Moradia</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation6">
                        <img class="ImgAnimation" src="/img/Icons/casa.svg">
                    </div>
                    
                     <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>
     <div class="groupTodasInfor groupTodasInfor5">  
                <input class="inputMM" type="checkbox" id="Familia" name="" value="">
                <div class="DivAnimation DivAnimation5">
                     <input class="inputMM" type="checkbox" id="Familia" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Familia">
                        <p class="PAnimation">Familia</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation7" >
                        <img class="ImgAnimation" src="/img/Icons/Familia.svg">
                    </div>
                    
                   <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>
    <div class="groupTodasInfor groupTodasInfor9">  
                <input class="inputMM" type="checkbox" id="Profissao" name="" value="">
                <div class="DivAnimation DivAnimation9">
                     <input class="inputMM" type="checkbox" id="Profissao" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Profissao">
                        <p class="PAnimation">Profissão</p>  
                        <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation11">
                        <img class="ImgAnimation" src="/img/Icons/profissao.svg">
                    </div>
           <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
                    

                </div>
        


        </div>
    <div class="groupTodasInfor groupTodasInfor10">  
                <input class="inputMM" type="checkbox" id="Saude" name="" value="">
                <div class="DivAnimation DivAnimation10">
                     <input class="inputMM" type="checkbox" id="Saude" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Saude">
                        <p class="PAnimation">Saúde</p>  
                        <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation12">
                        <img class="ImgAnimation" src="/img/Icons/saude.svg">
                    </div>
            <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
        </div>
                    

                </div>
    <div class="groupTodasInfor groupTodasInfor11">  
                <input class="inputMM" type="checkbox" id="Saneamen" name="" value="">
                <div class="DivAnimation DivAnimation11">
                     <input class="inputMM" type="checkbox" id="Saneamen" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Saneamen">
                        <p class="PAnimation">Saneamento</p>  
                        <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation13">
                        <img class="ImgAnimation" src="/img/Icons/Lixo.svg">
                    </div>
                               <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
        </div>
                    

                </div> 
     <div class="groupTodasInfor groupTodasInforMoradia">  
                <input class="inputMM" type="checkbox" id="Agricultura" name="" value="">
                <div class="DivAnimation DivAnimationMoradia">
                     <input class="inputMM" type="checkbox" id="Agricultura" name="" value="">
                <div class="toggle toggle1">
                    <label class="LabelBtn LabelMoradia" for="Agricultura">
                        <p class="PAnimation">Agricultura</p>  
                       <div class="DivImgAnimation2">
                        </div>
                        <div class="DivImgAnimation3">
                        </div>
                    </label>
                </div>
                    <div class="DivImgAnimation DivImgAnimation8">
                        <img class="ImgAnimation" src="/img/Icons/agricultura.svg">
                    </div>
                    
                      <div class="DivLI1">
               
<table>

  <tbody>
    <tr>
      <td class="produto"><p>Nome do responsavel pela residencia</p></td>
        <td class="valor"><p>Douglas</p></td>        
    </tr>
      
    <tr>
      <td class="produto"><p>Apelido</p></td>
        <td class="valor"><p>Nome</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>CPF</p></td>
        <td class="valor"><p>121.121.121.12</p></td>        
    </tr>
      
    <tr>
        <td class="produto"><p>RG</p></td>
        <td class="valor"><p>OK</p></td>        
    </tr>

  </tbody>
</table>

  </thead> 
         </div>
         </div>
                    

                </div>

    </div>
    
</section>
    

    
    
</section>
    
</body>
</html>  