<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Agua</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
        
                   <div class="DivEstatisticaCasasBox26 DivBox67">
                    <p class="G2">9.456.000</p>
                    <p class="G1">Capacidade de armazenamento municipal</p>
                </div>
                
                <div class="DivEstatisticaEstudos26 DivBox68">
                
                <p class="PTitlte">Tipo de abastecimento</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                     </div>
            </div>
                
                
                   <div class="DivEstatisticaCasasBox26 DivBox69">
                    <img class="Img3" src="img/Icons/less.svg">
                    <p class="G1">Media zona rural</p>
                    <p class="G2">78,4 L</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox69">
                    <img class="Img3" src="img/Icons/less.svg">
                    <p class="G1">Media zona urbana</p>
                    <p class="G2">23,8 L</p>
                </div>
                
                
             <div class="DivEstatisticaCasasBox26 DivBox70">
                    <img class="Img2" src="img/Icons/caderno.svg">
                    <p class="G1">Rede encanada</p>
                </div>
                
                
                 <div class="DivEstatisticaCasasBox8 DivBox71">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Quantidade de cisternas em relação a cisternas</p>
                    <img class="ImgGrafico" src="img/Icons/grafico.png">
                    <div>
                        <div class="P1"><p>15%</p></div>
                        <div class="P2"><p>15%</p></div>
                        <div class="P3"><p>15%</p></div>
                        <div class="P4"><p>15%</p></div>
                         <div class="P5"><p>15%</p></div>
                    </div>
                
            </div>
                    
        </div>
                
                
                
                    <div class="DivEstatisticaEstudos3 DivBox72">
                
                <p class="PTitlte">Taxa de obitos e nascimentos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/agricultura.svg">
                    <p class="S4">Tipos de cisternas</p>
                    <span><p class="M1">Cisterna plastico</p><p class="M3 M31">100</p></span>
                    <span><p class="M1">Cisterna alvenaria</p><p class="M3 M32">100</p></span>
                    <span><p class="M1">Cisterna trincheira</p><p class="M3 M33">100</p></span>
                    <span><p class="M1">Cisterna placa de cimento</p><p class="M3 M34">100</p></span>
                    <span><p class="M1">Cisterna calçadão</p><p class="M3 M35">100</p></span>
                
            </div>
                
            
            
            </div>  
                
                
                <div class="DivEstatisticaEstudos26 DivBox73">
                
                <p class="PTitlte">Raça</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                     </div>
            </div>
                
                  <div class="DivEstatisticaCasasBox26 DivBox74">
                    <img class="Img2" src="img/Icons/caderno.svg">
                    <p class="G1">Agua tratada</p>
                </div>
                 <div class="DivEstatisticaCasasBox26 DivBox74">
                    <img class="Img2" src="img/Icons/caderno.svg">
                    <p class="G1">agua sem trata</p>
                </div>
                
                
                <div class="DivEstatisticaEstudos3 DivBox75">
                
                <p class="PTitlte">Capacidade de amarzenamanto municipal</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                    <span><p class="M1">2018</p><p class="M3">100</p></span>
                    <span><p class="M1">2017</p><p class="M3">70</p></span>
                    <span><p class="M1">2016</p><p class="M3">50</p></span>
                
            </div>
                
            
            
            </div>  
                
                
                <div class="DivBox2 DivBox76">
                        
                <p class="Lixop1">Deficencias</p>
            
                <div class="DivColors DivC">
                    <span class="colorsL1">200</span>
                    <img src="img/Icons/lixo2.svg">
                    <p class="colorsL1">Palhas</p>
                </div>
             <div class="DivColors DivC">
                    <span class="colorsL2">1500</span>
                    <img src="img/Icons/lixo2.svg">
                    <p class="colorsL2">Alvenaria</p>
                </div>
                <div class="DivColors DivC">
                    <span class="colorsL3">8</span>
                    <img src="img/Icons/lixo2.svg">
                    <p class="colorsL3">Reproveitado</p>
                </div>
                 <div class="DivColors DivC">
                    <span class="colorsL4">8</span>
                    <img src="img/Icons/lixo2.svg">
                    <p class="colorsL4">Reproveitado</p>
                </div>
                 <div class="DivColors DivC2">
                    <span class="colorsL5">8</span>
                    <img src="img/Icons/lixo2.svg">
                    <p class="colorsL5">Reproveitado</p>
                </div>
                  
         
                
            </div>
                
                
                            <div class="DivEstatisticaCasas3 DivBox77">
                
                <p class="PTitlte">Comunidades</p>
                <div class="DivEstatisticaCasasEscolhas4">
                     <input  id="EstMoradia" type="checkbox" >
                     <label for="EstMoradia"><img src="/img/Icons/lupa.svg"></label>
                    <input class="IPEstatisticaMoradia" title="text" placeholder="Buscar poor comunidades">
                    <div class="Buscar"><img src="/img/Icons/arrow.svg"></div>
            </div>
                            
                                <div class="Menu3">
                         <div class="MenuCenter">
                             <div>
                             <p class="PNumber">100</p>
                             <p class="PName">Rios e riachos</p>
                             </div>
                         </div>
                         <div class="MenuCenter">
                             <div>
                             <p class="PNumber">20</p>
                             <p class="PName">Nascentes</p>
                             </div>
                         </div>
                         <div class="MenuCenter">
                             <div>
                             <p class="PNumber">1.450</p>
                             <p class="PName">Barragens</p>
                             </div>
                         </div>
                         <div class="MenuCenter">
                             <div>
                             <p class="PNumber">450</p>
                             <p class="PName">Poços</p>
                             </div>
                         </div>
                </div>
                </div>
                
                
                
                 <div class="DivEstatisticaCasasBox20 DivBox79">
                    
                <p class="PTitlte">Cartão do SUS</p>
                    <div class="DivEstatisticaCasasBox4Corpo">
                        <div class="DivPOne">25%</div>
                        <div class="DivPTwo">75%</div>
                        <img src="img/Icons/graficoEX1.svg">
                        <p class="PPOne"><span>100</span>Contem Cartão</p>
                        <p class="PPTwo"><span>50</span>Não Contem Cartão</p>
                </div>
                    
                
                </div>
                
                
                <div class="DivEstatisticaEstudos3 DivBox80">
                
                <p class="PTitlte">Possuem rede eletrica </p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                    <span><p class="M1">2018</p><p class="M3">100</p></span>
                    <span><p class="M1">2017</p><p class="M3">70</p></span>
                    <span><p class="M1">2016</p><p class="M3">50</p></span>
                
            </div>
                
            
            
            </div>  
                
                
                <div class="DivEstatisticaEstudos26 DivBox81">
                
                <p class="PTitlte">Quantidade de casas que possuem rede eletrica por area</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                     </div>
            </div>
                
                
                   <div class="DivEstatisticaCasasBox26 DivBox78">
                    <p class="G1">Dados coletados</p>
                       
                    <p class="G2">12/05/2017</p>
                </div>  
                
            </div>
      
            
            
            
            </section>
        
    </body>
        
</html>