<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Estudos</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                
                
                
                
                 <div class="DivEstatisticaCasasBox20">
                    
                <p class="PTitlte">Ler e Escrever</p>
                    <div class="DivEstatisticaCasasBox4Corpo">
                        <div class="DivPOne">25%</div>
                        <div class="DivPTwo">75%</div>
                        <img src="img/Icons/graficoEX1.svg">
                        <p class="PPOne">Sabem Escrever</p>
                        <p class="PPTwo">Não Sabem Escrever</p>
                </div>
                    
                
                </div>
                
                <div class="DivEstatisticaEstudos2">
                
                <p class="PTitlte">Numero de comodos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                    <span><p class="T1">2018</p><p class="T3">100</p></span>
                    <span><p class="T1">2017</p><p class="T3">70</p></span>
                    <span><p class="T1">2016</p><p class="T3">50</p></span>
                
            </div>
                
            
            
            </div>
                
                       <div class="DivEstatisticaCasasBox20">
                    
                <p class="PTitlte">Numeros de alunos nas redes de ensino</p>
                    <div class="DivEstatisticaCasasBox4Corpo">
                        <div class="DivPOne">25%</div>
                        <div class="DivPTwo">75%</div>
                        <img src="img/Icons/graficoEX1.svg">
                        <p class="PPOne">Publico</p>
                        <p class="PPTwo">Privada</p>
                </div>
                    
                
                </div>
                

                      <div class="DivEstatisticaCasasBox21">
                <p class="PBox4Numero">1595</p>
                <p class="PBox4Nome">Numero total de alunos na rede estadual</p>
                
                </div>
                
                 <div class="DivEstatisticaCasasBox21">
                <p class="PBox4Numero">2595</p>
                <p class="PBox4Nome">Numero total de alunos na rede municipal</p>
                
                </div>
                
                 <div class="DivEstatisticaCasasBox22">
                <p class="PBox4Numero">250</p>
                <p class="PBox4Nome">Analfabetos</p>
                
                </div>
                
                <div class="DivEstatisticaCasasBox23">
                    <img src="img/Icons/caderno.svg">
                <p class="PBox4Numero">2095</p>
                <p class="PBox4Nome">Rede publica</p>
                    <p class="PBox4Numero">2095</p>
                <p class="PBox4NomeO">Rede particular</p>
                
                </div>
                
                
                 <div class="DivEstatisticaCasasBox24">
                <p class="PBox4Numero">2095</p>
                <p class="PBox4Nome">Estudados</p>
                
                </div>
                
                     <div class="DivEstatisticaEstudos26">
                
                <p class="PTitlte">Tipo de instituição</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                
            </div>
                
            
            
            </div>
                
                  <div class="DivEstatisticaCasasBox25">
                    
                <p class="PTitlte">Numeros de alunos nas redes de ensino</p>
                    <div class="DivEstatisticaCasasBox1Corpo">
                        <img src="img/Icons/graficoBarra.png">
                        <p class="Serie S1">1° Ano</p>
                        <p class="Serie S2">2° Ano</p>
                        <p class="Serie S3">3° Ano</p>
                        <p class="Serie S4">4° Ano</p>
                        <p class="Serie S5">5° Ano</p>
                        <p class="Serie S6">6° Ano</p>
                        <p class="Serie S7">7° Ano</p>
                        <p class="Serie S8">7° Ano</p>
                        <p class="Serie S9">8° Ano</p>
                        <p class="Serie S10">1° Ano medio</p>
                        <p class="Serie S11">2° Ano medio</p>
                        <p class="Serie S12">3° Ano medio</p>
                </div>
                    
                
                </div>
                
                <div class="DivEstatisticaCasasBox26">
                    <img src="img/Icons/caderno.svg">
                    <p class="PT">1558 Graduados</p>
                    <p class="PT">158 Especialistas</p>
                    <p class="PT">8 Mestres</p>
                </div>
                
                <div class="DivEstatisticaCasasBox26">
                    <p class="PT1">IDEB</p>
                    <p class="PT2">250 Anos iniciais</p>
                    <p class="PT2">158 Anos finais</p>
                    <p class="PT2">8 ensino medio</p>
                </div>
                
                <div class="DivEstatisticaCasasBox27">
                    <p class="Txt1">25°</p>
                    <p class="Txt2">Ranking municipal IDEB</p>
                </div>
                
                
                
            <div class="DivEstatisticaEstudos3">
                
                <p class="PTitlte">Taxa de aprovação do IDEB</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="img/Icons/grafico2.png">
                    <span><p class="M1">2018</p><p class="M3">100</p></span>
                    <span><p class="M1">2017</p><p class="M3">70</p></span>
                    <span><p class="M1">2016</p><p class="M3">50</p></span>
                
            </div>
                
            
            
            </div>  
                
                
                
                
            </div>
            
            </section>
        
    </body>
        
</html>