<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Energia</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaEnergia">
                
            <div class="DivEstatisticaEnergia1">
                
                <p>Quantidade de casa possuem medidor de energia</p>
                <div class="DivEstatisticaEnergiaEscolhas">
                <div class="DivEstatisticaEnergiaEscolhas1">
                    <img src="/img/Icons/energia.svg">
                    <p>1201</p>
                </div>
                <div class="DivEstatisticaEnergiaEscolhas1">
                    <img src="/img/Icons/energia.svg">
                    <p>1201</p>
                </div>
                <div class="DivEstatisticaEnergiaEscolhas1">
                    <img src="/img/Icons/energia.svg">
                    <p>1201</p>
                </div>
                </div>
                
            </div>
                
            <div class="DivConteineEstatistica1">
                <div>
                    <p class="Numero">450</p>
                    <p class="Nome">Velas</p>
                </div>
                <div class="DivMeio">
                    <p class="Numero">20</p>
                    <p class="Nome">Outros</p>
                </div>
                <div>
                    <p class="Numero">1.450</p>
                    <p class="Nome">Oleo e etc</p>
                </div>
                </div>
                
                     <div class="DivEstatisticaEnergia2">
                
                <p>Quantidade de casa possuem medidor de energia</p>
                <div class="DivEstatisticaEnergiaEscolhas3">
                <div class="DivEstatisticaEnergiaEscolhas2">
                    <img src="/img/Icons/solar-energy.svg">
                    <p>1201</p>
                </div>
                <div class="DivEstatisticaEnergiaEscolhas2">
                    <img src="/img/Icons/factory.svg">
                    <p>1201</p>
                </div>
                <div class="DivEstatisticaEnergiaEscolhas2">
                    <img src="/img/Icons/light-bulb.svg">
                    <p>1201</p>
                </div>
                    
                      <div class="DivEstatisticaEnergiaEscolhas2">
                    <img src="/img/Icons/new.svg">
                    <p>1201</p>
                </div>
                
            </div>
                
            
            
            </div>
            
            </section>
        
    </body>
        
</html>