<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Esportes/Lazer</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                <div class="DivEstatisticaEsportesBox1">
                    
                <p>Ranking de esportes</p>
                    <div class="DivEstatisticaEsportesBox1Corpo">
                    <div>
                        <p class="PLeft">1°</p>
                        <p class="PRigth">1400</p>
                        <p class="Pnome">Futbol</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">2°</p>
                        <p class="PRigth">300</p>
                        <p class="Pnome">Basquete</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">3°</p>
                        <p class="PRigth">200</p>
                        <p class="Pnome">Tenis</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">4°</p>
                        <p class="PRigth">100</p>
                        <p class="Pnome">Futsal</p>
                        </div>
                    
                </div>
                    
                
                </div>
                
                 <div class="DivEstatisticaEsportesBox3">
                    
                <p>Grafico  de esportes</p>
                    <div class="    DivEstatisticaEsportesBox2Corpo">
                        <img src="/img/Icons/grafico.png">
                    
                </div>
                    
                
                </div>
                
                <div class="DivEstatisticaEsportesBox2">
                    
                <p>Ranking de Festas</p>
                    <div class="DivEstatisticaEsportesBox1Corpo">
                    <div>
                        <p class="PLeft">1°</p>
                        <p class="PRigth">400</p>
                        <p class="Pnome">Carro de boi</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">2°</p>
                        <p class="PRigth">300</p>
                        <p class="Pnome">Festas Juninas</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">3°</p>
                        <p class="PRigth">200</p>
                        <p class="Pnome">Carnaval</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">4°</p>
                        <p class="PRigth">100</p>
                        <p class="Pnome">Formaturas</p>
                        </div>
                    
                </div>
                    
                
                </div>
                
                 <div class="DivEstatisticaEsportesBox3">
                    
                <p>Grafico  de festas</p>
                    <div class="    DivEstatisticaEsportesBox2Corpo">
                        <img src="/img/Icons/grafico.png">
                    
                </div>
                    
                
                </div>
                
            </div>


            
            </section>
        
    </body>
        
</html>