        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatisticas</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="img/fundo-azul.jpg">
            
            <div class="DivCorpoMenu">
                <a href="#/stats/casas">
                    <div class="Mhexagono1">
                        <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                        <img class="MIconMenu" src="img/Icons/casa.svg">
                    </div>
                </a>
                <a href="#/stats/agua">
                    <div class="Mhexagono2">
                      <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                      <img class="MIconMenu" src="img/Icons/agua.svg">
                    </div>
                </a>
                <a href="#/stats/energia">
                    <div class="Mhexagono3">
                          <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                          <img class="MIconMenu" src="img/Icons/energia.svg">
                    </div>
                </a>
                <a href="#/stats/educacao">
                 <div class="Mhexagono4">
                      <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                      <img class="MIconMenu" src="img/Icons/caderno.svg">
                  </div>
                </a>
                <a href="#/stats/saude">
                 <div class="Mhexagono5">
                      <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                      <img class="MIconMenu" src="img/Icons/saude.svg">
                </div>
                </a>
                <a href="#/stats/financas">
                 <div class="Mhexagono6">
                     <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                     <img class="MIconMenu" src="img/Icons/dinheiro.svg">
                  </div>
                </a>
                <a href="#/stats/familia">              
                  <div class="Mhexagono7">
                    <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                    <img class="MIconMenu" src="img/Icons/Familia.svg">
                   </div>
                </a>
                <a href="#/stats/saneamento">
                  <div class="Mhexagono8">
                      <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                      <img class="MIconMenu" src="img/Icons/Lixo.svg">
                  </div>
                </a>
                <a href="#/stats/lazer">
                   <div class="Mhexagono9">
                      <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                      <img class="MIconMenu" src="img/Icons/lazer.svg">
                    </div>
               </a>
               <a href="#/stats/profissao">                
                 <div class="Mhexagono10">
                    <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                    <img class="MIconMenu" src="img/Icons/profissao.svg">
                </div>
                </a>
                <a href="#/stats/agricultura">
                    <div class="Mhexagono11">
                        <img class="Mhexagono" src="img/Icons/hexagon3.svg">
                        <img class="MIconMenu" src="img/Icons/agricultura.svg">
                    </div>
                </a>
                
            </div>
            
            
        </section>
            <a href="InputsCadastro.html">
            <button class="BtnFloatAlfaEstatistica">
                <img class="ImgLupa" src="img/Icons/lupa.svg">
            </button>
                </a>
        </section>
