<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatistica">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/agua.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Da Água</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
            
            
            
        </section>
           
        </section>
        
    </body>
        
</html>