<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica familia</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
        <div class="DivEstatisticaCasasBox26 DivBox49">
                    <p class="G2">1500</p>
                    <p class="G1">Propriedades rurais</p>
                </div>
                
                
                   <div class="DivEstatisticaCasasBox26 DivBox50">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Homens</p>
                    <p class="G2">78</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox50">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Mulheres</p>
                    <p class="G2">158</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox50">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Idosos</p>
                    <p class="G2">158</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox50">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Idosas</p>
                    <p class="G2">158</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox50">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Meninos</p>
                    <p class="G2">158</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox50">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Meeninas</p>
                    <p class="G2">158</p>
                </div>
                
                   <div class="DivEstatisticaCasasBox26 DivBox51">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Bebes</p>
                    <p class="G2">158</p>
                </div>
                
                 <div class="DivBox2 DivBox52">
                        
                <p class="Lixop1">Animais domesticos</p>
                <div class="DivBox3">
                <div class="DivColors">
                    <span class="colorsL3">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Palhas</p>
                </div>
             <div class="DivColors">
                    <span class="colorsL3">1500</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Alvenaria</p>
                </div>
                <div class="DivColors">
                    <span class="colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Reproveitado</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL3">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Taipa</p>
                </div>
                   
                    <div class="DivColors">
                    <span class="colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Reproveitado</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL3">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Taipa</p>
                </div>
                  
                </div>
                
            </div>
                
                 <div class="DivEstatisticaCasasBox8 DivBox53">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Raça</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    <div>
                        <div class="P1"><p>15%</p></div>
                        <div class="P2"><p>15%</p></div>
                        <div class="P3"><p>15%</p></div>
                        <div class="P4"><p>15%</p></div>
                    </div>
                        
                    <p class="PW CR1">Raça</p>
                    <p class="PW CR2">Raça</p>
                    <p class="PW CR3">Raça</p>
                    <p class="PW CR4">Raça</p>
                
            </div>
                    
        </div>
                
                <div class="DivEstatisticaEstudos26 DivBox54">
                
                <p class="PTitlte">Raça</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                <div class="DivEstatisticaEstudos26 DivBox55">
                
                <p class="PTitlte">Idade</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                
             <div class="DivEstatisticaCasasBox26 DivBox56">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Certidão de nascimento</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox56">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">CPF</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox56">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">RG</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox56">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Reservista</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox56">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Titulo de eleitor</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox56">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Carteira de trabalho</p>
                </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox57">
                
                <p class="PTitlte">Estado civil</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                <div class="DivEstatisticaCasasBox26 DivBox58">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Idosos</p>
                    <p class="G2">158</p>
                </div>
                
                <div class="DivEstatisticaCasasBox8 DivBox59">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Documentação individual</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    </div>
                    </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox60">
                
                <p class="PTitlte">Casamento em relação raça</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox61">
                
                <p class="PTitlte">Casamento em relação a renda</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox62">
                
                <p class="PTitlte">Casamento em relação a escolaridade</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox63">
                
                <p class="PTitlte">Numero de filhos em relação a raça</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox64">
                
                <p class="PTitlte">Numero de filhos em relação a renda</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox65">
                
                <p class="PTitlte">Numero de filhos em relação a escolaridade</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                
                
                
            </div>
      
            
            
            
            </section>
        
    </body>
        
</html>