<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Gestantes</p>
                
            </header>
            
        <section class="Inicial Fundo">
          <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                  
                 <div class="DivEstatisticaCasasBox20 DivBox6">
                    
                <p class="PTitlte">Cartão do SUS</p>
                    <div class="DivEstatisticaCasasBox4Corpo">
                        <div class="DivPOne">25%</div>
                        <div class="DivPTwo">75%</div>
                        <img src="/img/Icons/graficoEX1.svg">
                        <p class="PPOne">Contem Cartão</p>
                        <p class="PPTwo">Não Contem Cartão</p>
                </div>
                    
                
                </div>
                
                 <div class="DivEstatisticaEstudos26 DivBox7">
                
                <p class="PTitlte">Trimestre da gestante</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                 <div class="DivEstatisticaCasasBox8 DivBox9">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Tipos de funcionarios</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    <div>
                        <div class="P1"><p>15%</p></div>
                        <div class="P2"><p>15%</p></div>
                        <div class="P3"><p>15%</p></div>
                        <div class="P4"><p>15%</p></div>
                    </div>
                
            </div>
                    
                </div>
                
                <div class="DivEstatisticaCasasBox26 DivBox8">
                    <img class="Img1" src="/img/Icons/caderno.svg">
                    <p class="G1">Crianças abaixo de 5</p>
                    <p class="G2">158</p>
                </div>
                     <div class="DivEstatisticaCasasBox26 DivBox8">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Idosos</p>
                    <p class="G2">158</p>
                </div>
                     <div class="DivEstatisticaCasasBox26 DivBox8">
                    <img class="Img3" src="/img/Icons/caderno.svg">
                    <p class="G1">Gestantes</p>
                    <p class="G2">158</p>
                </div>
                     <div class="DivEstatisticaCasasBox26 DivBox8">
                    <img class="Img4" src="/img/Icons/caderno.svg">
                    <p class="G1">Deficientes fisicos</p>
                    <p class="G2">158</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox10">
                    <img class="Img4" src="/img/Icons/graficoEX1.svg">
                </div>
                
                <div class="DivEstatisticaCasasBox26 DivBox11">
                    <p class="G2">158</p>
                    <p class="G1">Deficientes fisicos</p>
                </div>
                
               <div class="DivEstatisticaLIxo8 DivBox12">
                
                <p class="Lixop1">NASCIMENTO</p>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação a escolaridade</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação a renda</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação ao sexo</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação ao sexo</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>

            </div>      
                
               <div class="DivEstatisticaLIxo8 DivBox13">
                
                <p class="Lixop1">MORTE</p>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação a escolaridade</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação a renda</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação ao sexo</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação ao sexo</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                </div>

            </div>    
                
                <div class="DivEstatisticaCasasBox26 DivBox14">
                    <img class="Img4" src="/img/Icons/graficoEX1.svg">
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox14">
                    <img class="Img4" src="/img/Icons/graficoEX1.svg">
                </div>
                
                <div class="DivEstatisticaCasasBox26 DivBox15">
                    <img class="Img4" src="/img/Icons/graficoEX1.svg">
                    <p class="G2">158</p>
                </div>
                
                <div class="DivEstatisticaCasasBox26 DivBox16">
                    <p class="G2">158</p>
                    <p class="G1">Possuem aparelho facilitador</p>
                </div>
                               
                <div class="DivBox2 DivBox17">
                        
                <p class="Lixop1">Deficencias</p>
                <div class="DivBox3">
                <div class="DivColors">
                    <span class="colorsL1">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL1">Palhas</p>
                </div>
             <div class="DivColors">
                    <span class="colorsL2">1500</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL2">Alvenaria</p>
                </div>
                <div class="DivColors">
                    <span class="colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Reproveitado</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL4">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL4">Taipa</p>
                </div>
                   
                  
                </div>
                
            </div>
                
                <div class="DivEstatisticaEstudos26 DivBox18">
                
                <p class="PTitlte">Tipos de vicios</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/graficoEX1.svg">
                     </div>
            </div>
                
                <div class="DivBox2 DivBox19">
                        
                <p class="Lixop1">Deficencias</p>
            
                <div class="DivColors">
                    <span class="colorsL1">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL1">Palhas</p>
                </div>
             <div class="DivColors">
                    <span class="colorsL2">1500</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL2">Alvenaria</p>
                </div>
                <div class="DivColors">
                    <span class="colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Reproveitado</p>
                </div>
                  
         
                
            </div>
                
                <div class="DivEstatisticaCasasBox8 DivBox20">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Tipos de obito</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    </div>
                    </div>
                
                <div class="DivEstatisticaCasasBox8 DivBox21">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Tipos de obito</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    </div>
                    </div>
                
                <div class="DivEstatisticaEstudos3 DivBox22">
                
                <p class="PTitlte">Taxa de obitos e nascimentos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                    <span><p class="M1">2018</p><p class="M3">100</p></span>
                    <span><p class="M1">2017</p><p class="M3">70</p></span>
                    <span><p class="M1">2016</p><p class="M3">50</p></span>
                
            </div>
                
            
            
            </div>  
                 
                <div class="DivEstatisticaEstudos26 DivBox23">
                
                <p class="PTitlte">Mortos por area</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                
                     <div class="DivEstatisticaCasasBox26 DivBox24">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Idosos</p>
                    <p class="G2">158</p>
                </div>
                  
                    <div class="DivEstatisticaEstudos3 DivBox25">
                
                <p class="PTitlte">Taxa de obitos e nascimentos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico1" src="/img/Icons/profissao.svg">
                    <p class="S1 s2">Surto</p>
                    <span class="SP1"><p class="M1">Virose</p><p class="M3">56 Casos</p></span>
                    
                    <img class="ImgGrafico2" src="/img/Icons/profissao.svg">
                    <p class="S1 s3">Epidemia</p>
                    <span class="SP2"><p class="M1">Ebola</p><p class="M3">256 Casos</p></span>
                    <span class="SP2"><p class="M1">Zica</p><p class="M3">5 Casos</p></span>
                    <span class="SP2"><p class="M1">Diarreia</p><p class="M3">569 Casos</p></span>
                    
                    <img class="ImgGrafico3" src="/img/Icons/profissao.svg">
                    <p class="S1 s4">Pandemia</p>
                    <span class="SP3"><p class="M1">Dengue</p><p class="M3">156 Casos</p></span>
                
            </div>
                
            
            
            </div>  
                
                
                 <div class="DivEstatisticaEstudos26 DivBox26">
                
                <p class="PTitlte">Doenças por area</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
                
                 <div class="DivEstatisticaEstudos26 DivBox27">
                
                <p class="PTitlte">Doenças cronicas existentes</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
          
                    <div class="DivEstatisticaEstudos3 DivBox28">
                
                <p class="PTitlte">Taxa de obitos e nascimentos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/agricultura.svg">
                    <p class="S4">Plantas medicinais</p>
                    <span><p class="M1">1°</p><p class="M3">Plantas Medicinais</p></span>
                    <span><p class="M1">2°</p><p class="M3">Plantas Medicinais</p></span>
                    <span><p class="M1">3°</p><p class="M3">Plantas Medicinais</p></span>
                
            </div>
                
            
            
            </div>  
                
                
                
                     <div class="DivEstatisticaCasasBox26 DivBox29">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Idosos</p>
                    <p class="G2">158</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox30">
                    <p class="G2">78 Anos</p>
                    <p class="G1">Expectativa de vida municiptal</p>
                </div>
                
                   <div class="DivBox2 DivBox31">
                        
                <p class="Lixop1">Quadro de obesidade</p>
                <div class="DivBox3">
                <div class="DivColors">
                    <span class="colorsL1">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL1">Obesidade tipo 1</p>
                </div>
             <div class="DivColors">
                    <span class="colorsL2">1500</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL2">Obesidade tipo 2</p>
                </div>
                <div class="DivColors">
                    <span class="colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Obesidade tipo 1</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL4">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL4">Obesidade infantil</p>
                </div>
                   
                  
                </div>
                
                </div>
                
                
                     <div class="DivEstatisticaCasasBox26 DivBox32">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Peso medio</p>
                    <p class="G2">85kg</p>
                </div>
                
                
                     <div class="DivEstatisticaCasasBox26 DivBox33">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Estatura media</p>
                    <p class="G2">1,75m</p>
                </div>
                
                 <div class="DivEstatisticaCasasBox26 DivBox34">
                     
                <p class="Lixop1">Quadro de obesidade</p>
                    <div class="DivEstatisticaCasasBox26 DivBox35">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Estatura baixa</p>
                        
                        <span><p class="M1 M1H">Homen</p><p class="M3">1,45</p></span>
                    <span><p class="M1">Mulher</p><p class="M3">1,35</p></span>
                    
                </div>
                     
                    <div class="DivEstatisticaCasasBox26 DivBox35">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Estatura media</p>
                        
                        <span><p class="M1 M1H">Homen</p><p class="M3">1,79</p></span>
                    <span><p class="M1">Mulher</p><p class="M3">1,69</p></span>
                </div>
                     
                    <div class="DivEstatisticaCasasBox26 DivBox36">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Estatura alta</p>
                        <span><p class="M1 M1H">Homen</p><p class="M3">Acima de 1,79</p></span>
                    <span><p class="M1">Mulher</p><p class="M3">Acima de 1,69</p></span>
                </div>
                </div>
                
            </div>

        </section>
        
    </body>
        
</html>