<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Profissões</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                
            
                
                <div class="DivEstatisticaCasasBox8">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Tipos de funcionarios</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    <div>
                        <div class="P1"><p>15%</p></div>
                        <div class="P2"><p>15%</p></div>
                        <div class="P3"><p>15%</p></div>
                        <div class="P4"><p>15%</p></div>
                        <div class="P5"><p>40%</p></div>
                    </div>
                
            </div>
                    
                </div>
                
                            <div class="DivEstatisticaLIxo9">
                <div class="DivEstatisticaLIxoEscolhas">
                <div class="DivEstatisticaLIxoEscolhas9">
                    <div>
                    <p>200</p>
                    </div>
                    <p class="colorsP1">Funcionarios municipais</p>
                </div>
             <div class="DivEstatisticaLIxoEscolhas9">
                 <div>
                    <p>1500</p>
                 </div>
                    <p class="colorsP2">Funcionarios estaduais</p>
                </div>
                <div class="DivEstatisticaLIxoEscolhas9">
                    <div>
                    <p>8</p>
                    </div>
                    <p class="colorsP3">Funcionarios federais</p>
                </div>
                    
                    <div class="DivEstatisticaLIxoEscolhas9D">
                        <div>
                        
                    <p>85</p>
                        
                        </div>
                    <p class="colorsP4">Funcionarios privados</p>
                </div>
                    
                    <div class="DivEstatisticaLIxoEscolhas9D">
                        <div>
                        
                    <p>200</p>
                        </div>
                    <p class="colorsP5">Funcionarios autonomos</p>
                </div>
                  
                </div>
                
            </div>
            <div class="DivEstatisticaCasasBox9">
                <img src="/img/Icons/Desempregados.svg">
                <p class="PBox9Nome">Desempregados</p>
                <p class="PBox9Numero">200</p>
                
                </div>
                
                <div class="DivEstatisticaCasasBox9">
                    
                    <p class="txt">Media de horas trabalhadas</p>
                    <div class="BarProgress"></div>
                    <p class="Horas">7:30 Hrs</p>
               
                </div>
                
                <div class="Box1">
                    <p class="Number">595</p>
                    <p class="Name">Numero total de empregos na cidade</p>
                    
                </div>
                
                             <div class="DivEstatisticaEsportesBox7">
                    
                <p>Ranking de profissões</p>
                    <div class="DivEstatisticaEsportesBox3Corpo">
                    <div>
                        <p class="PLeft">1°</p>
                        <p class="PRigth">1.400</p>
                        <p class="Pnome">Programador</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">2°</p>
                        <p class="PRigth">300</p>
                        <p class="Pnome">Professor</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">3°</p>
                        <p class="PRigth">200</p>
                        <p class="Pnome">Designer</p>
                        </div>
                    
                    <div>
                        <p class="PLeft">4°</p>
                        <p class="PRigth">100</p>
                        <p class="Pnome">Agente</p>
                        </div>
                    
                </div>
                    
                
                </div>
                
                           <div class="DivEstatisticaProfissoes2">
                
                <p class="PTitlte">Numero de empregos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                
            </div>
                
            
            
            </div>
                
                <div class="Box2">
                    <img src="/img/Icons/Desempregados.svg">
                    <p>168 Graduandos</p>
                </div>
                
            </div>
                
                
      
            
            </section>
        
    </body>
        
</html>