<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Renda</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                
                
                
                 <div class="DivEstatisticaLIxo8">
                
                <p class="Lixop1">Destino do lixo</p>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação a escolaridade</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">

                
            </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação a renda</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
 
                
                     </div>
                <div class="DivEstatisticaLIxoEscolha8">
                     <p class="Lixop2">Em relação ao sexo</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
 
                
            </div>

            </div>
                
    
                
                <div class="DivBox">
                    <div class="DivBox1">
                     <p class="Lixop2">Material predominante na construção da casa</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    <div>
                        <div class="L1"><p>15%</p></div>
                        <div class="L2"><p>15%</p></div>
                        <div class="L3"><p>15%</p></div>
                        <div class="L4"><p>15%</p></div>
                        <div class="L5"><p>40%</p></div>
                        <div class="L6"><p>40%</p></div>
                         <div class="L7"><p>40%</p></div>
                        <div class="L8"><p>4%</p></div>
                    </div>
                
            </div>
                    
                </div>
                
                    <div class="DivBox2">
                <div class="DivBox3">
                <div class="DivColors">
                    <span class="colorsL1">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL1">Palhas</p>
                </div>
             <div class="DivColors">
                    <span class="colorsL2">1500</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL2">Alvenaria</p>
                </div>
                <div class="DivColors">
                    <span class="colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL3">Reproveitado</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL4">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL4">Taipa</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL5">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL5">n sei</p>
                </div>
                    
                    <div class="DivColors">
                    <span class="colorsL6">150</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL6">Madeira</p>
                </div>
                    
                      <div class="DivColors DivDivisao">
                    <span class="colorsL7">150</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL7">Madeira</p>
                </div>
                    
                      <div class="DivColors DivDivisao">
                    <span class="colorsL8">150</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colorsL8">Madeira</p>
                </div>
                  
                </div>
                
            </div>
                
                <div class="DivBox4">
                <img src="/img/Icons/Desempregados.svg">
                <p class="LBox9Numero">750</p>
                
                </div>
                
                <div class="DivBox5">
                    
                    <p class="txt2">Media de renda</p>
                    <div class="BarProgress2"></div>
                    <p class="Horas2">R$ 980,00</p>
               
                </div>
                
            
            </section>
        
    </body>
        
</html>