<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica Rurais</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                
                
        <div class="DivEstatisticaCasasBox26 DivBox37">
                    <p class="G2">1500</p>
                    <p class="G1">Propriedades rurais</p>
                </div>
                
        <div class="DivEstatisticaCasasBox8 DivBox38">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">CAR</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    </div>
                    </div>
                
         <div class="DivEstatisticaEstudos26 DivBox39">
                
                <p class="PTitlte">Recurso hidricos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
         
         <div class="DivEstatisticaEstudos3 DivBox40">
                
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/agricultura.svg">
                    <p class="S4">Pecuaria predominante</p>
                    <span><p class="M1">1°</p><p class="M3">Plantas Medicinais</p></span>
                    <span><p class="M1">2°</p><p class="M3">Plantas Medicinais</p></span>
                    <span><p class="M1">3°</p><p class="M3">Plantas Medicinais</p></span>
                
            </div>
                
            
            
            </div>  
                
          <div class="DivEstatisticaEstudos3 DivBox41">
                
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/agricultura.svg">
                    <p class="S4">Agricultura predominante</p>
                    <span><p class="M1">1°</p><p class="M3">Plantas Medicinais</p></span>
                    <span><p class="M1">2°</p><p class="M3">Plantas Medicinais</p></span>
                    <span><p class="M1">3°</p><p class="M3">Plantas Medicinais</p></span>
                
            </div>
                
            
            
            </div>  
                
          <div class="DivEstatisticaEstudos3 DivBox42">
                
                <p class="PTitlte">Produção agropecuaria </p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                    <span><p class="M1">2018</p><p class="M3">100</p></span>
                    <span><p class="M1">2017</p><p class="M3">70</p></span>
                    <span><p class="M1">2016</p><p class="M3">50</p></span>
                
            </div>
                
            
            
            </div>  
                
            <div class="DivEstatisticaEstudos3 DivBox43">
                
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/agricultura.svg">
                    <p class="S4">Agricultura organica</p>
                    <span><p class="M1">Feijao</p><p class="M3">59 Sacos</p></span>
                    <span><p class="M1">Ovo</p><p class="M3">100 Duzias</p></span>
                    <span><p class="M1">Alface</p><p class="M3">125 Pes</p></span>
                
            </div>
                
            
            
            </div>  
                
            <div class="DivEstatisticaCasasBox26 DivBox44">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">DAP</p>
                </div>
                    
            <div class="DivEstatisticaCasasBox26 DivBox44">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">inscrituras</p>
                </div>
                     <div class="DivEstatisticaCasasBox26 DivBox44">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">INCRA</p>
                </div>
                    
             <div class="DivEstatisticaCasasBox26 DivBox44">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">NIS / CNISS</p>
                </div>
                
             <div class="DivEstatisticaEstudos26 DivBox45">
                
                <p class="PTitlte">Recurso hidricos</p>
                <div class="DivEstatisticaCasasEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                     </div>
            </div>
                
             <div class="DivEstatisticaCasasBox26 DivBox46">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Area florestada</p>
                </div>
                
             <div class="DivEstatisticaCasasBox26 DivBox46">
                    <img class="Img2" src="/img/Icons/caderno.svg">
                    <p class="G1">Sem Area florestada</p>
                </div>
                
              <div class="DivEstatisticaCasasBox8 DivBox47">
                    <div class="DivEstatisticaLIxoEscolhas8">
                     <p class="Lixop2">Documentação da terra</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    </div>
                    </div>
                
               <div class="DivBox2 DivBox48">
                        
                <p class="Lixop1">Tecnologias agriculas</p>
                <div class="DivBox3">
                <div class="DivColors">
                    <span class=" Divcor colorsL1">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class=" Divcor colorsL1">Palhas</p>
                </div>
             <div class="DivColors">
                    <span class=" Divcor colorsL2">1500</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class=" Divcor colorsL2">Alvenaria</p>
                </div>
                <div class="DivColors">
                    <span class=" Divcor colorsL3">8</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class=" Divcor colorsL3">Reproveitado</p>
                </div>
                    
                    <div class="DivColors">
                    <span class=" Divcor colorsL4">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class=" Divcor colorsL4">Taipa</p>
                </div>
                    
                    <div class="DivColors">
                    <span class=" Divcor colorsL4">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class=" Divcor colorsL4">Taipa</p>
                </div>
                    
                    <div class="DivColors">
                    <span class=" Divcor colorsL4">85</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class=" Divcor colorsL4">Taipa</p>
                </div>
                   
                  
                </div>
                
            </div>
                
            </div>
      
            
            
            
            </section>
        
    </body>
        
</html>