<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <section class="SectionAlfa">
            
            <header class="HeaderEstatitisca">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="/img/Icons/hexagon3.svg">
                        <img class="ImgHeaderIcon" src="/img/Icons/Estatistica.svg">
                    </div>
                
                     <p class="PHeaderN">Estatistica LIxo</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
             
            <div class="DivEstatisticaLIxo">
                
                
            <div class="DivConteineEstatisticaLixo">
                <div class="DV">
                    <img class="ImgDV" src="/img/Icons/recycle1.svg">
                    <p class="DvP">20 Casas com coleta seletiva</p>
                </div>
                <div class="DV">
                    <img class="ImgDV2" src="/img/Icons/cicle.svg">
                    <p class="DvP2">Banlheiros</p>
                </div>
                <div class="DT">
                    <p class="Numero">1.450</p>
                    <p class="Nome">Ruas pavimentadas</p>
                </div>
                 <div class="DT">
                    <p class="Numero">1.450</p>
                    <p class="Nome">Esgoto</p>
                </div>
                </div>
                
            <div class="DivEstatisticaLIxo1">
                
                <p>Tipo do destino do lixo</p>
                <div class="DivEstatisticaLIxoEscolhas">
                <div class="DivEstatisticaLIxoEscolhas1">
                    <span class="colors1">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colors1">Tipo de lixo</p>
                </div>
             <div class="DivEstatisticaLIxoEscolhas1">
                    <span class="colors2">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colors2">Tipo de lixo</p>
                </div>
                <div class="DivEstatisticaLIxoEscolhas1">
                    <span class="colors3">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colors3">Tipo de lixo</p>
                </div>
                     <div class="DivEstatisticaLIxoEscolhas2">
                    <span class="colors4">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colors4">Tipo de lixo</p>
                </div>
                    <div class="DivEstatisticaLIxoEscolhas2">
                    <span class="colors5">200</span>
                    <img src="/img/Icons/lixo2.svg">
                    <p class="colors5">Tipo de lixo</p>
                </div>
                </div>
                
            </div>
                
                
                     <div class="DivEstatisticaLIxo2">
                
                <p>Quantidade de casa possuem medidor de LIxo</p>
                <div class="DivEstatisticaLIxoEscolhas3">
                    <img class="ImgGrafico" src="/img/Icons/grafico2.png">
                
            </div>
                
            
            
            </div>
                
                 <div class="DivEstatisticaLIxo4">
                
                <p class="Lixop1">Destino do lixo</p>
                <div class="DivEstatisticaLIxoEscolhas4">
                     <p class="Lixop2">Em relação a escolaridade</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    <div>
                        <div class="C1"><p>15%</p></div>
                        <div class="C2"><p>15%</p></div>
                        <div class="C3"><p>15%</p></div>
                        <div class="C4"><p>15%</p></div>
                        <div class="C5"><p>40%</p></div>
                    </div>
                
            </div>

                <div class="DivEstatisticaLIxoEscolhas4">
                     <p class="Lixop2">Em relação a renda</p>
                    <img class="ImgGrafico" src="/img/Icons/grafico.png">
                    <div>
                        <div class="C1"><p>15%</p></div>
                        <div class="C2"><p>15%</p></div>
                        <div class="C3"><p>15%</p></div>
                        <div class="C4"><p>15%</p></div>
                        <div class="C5"><p>40%</p></div>
                    </div>
                
            </div>

            </div>
            
            </section>
        
    </body>
        
</html>