<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/Familia.svg">
          </div>
          <p class="PHeaderN">Cadastra Familia</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
</section>
        
  <div class="Scroll">
      
   <div class="containerB">
       
       
  
   <form>
    
    <div class="groupC">      
      <input  class="inputC" type="text" required>
      <span class="highlightC"></span>
      <span class="barC"></span>
      <label class="labelC">Nome do Responsável pela residência:</label>
    </div>
      
    <div class="groupC">      
      <input  class="inputC" type="text" required>
      <span class="highlightC"></span>
      <span class="barC"></span>
      <label class="labelC">Apelido:</label>
    </div>
      
    <div class="groupC">      
      <input  class="inputC" type="number" required>
      <span class="highlightC"></span>
      <span class="barC"></span>
    <label class="labelC">Idade:</label>
    </div>
         
    <div class="DivCorpoSelect">
       
<div class="DivSelect">    
    <p class="PSelectFamilia">Sexo:</p>
    <div class="SelectStyleFamilia">
        <select class="SelectFamilia">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
    </div>
</div>
          
<div class="DivSelect">    
     <p class="PSelectFamilia">Genero:</p>
     <div class="SelectStyleFamilia">
        <select class="SelectFamilia">
            <option value="Heterossexual">Heterossexual</option>
            <option value="Feminino">Feminino</option>
        </select>
     </div>
</div>
  
<div class="DivSelect">    
     <p class="PSelectFamilia">Estado Civil:</p>
     <div class="SelectStyleFamilia">
         <select class="SelectFamilia">
            <option value="Solteiro">Solteiro</option>
            <option value="Feminino">Feminino</option>
         </select>
    </div>
</div> 

<div class="DivSelect">    
     <p class="PSelectFamilia">Raça:</p>
     <div class="SelectStyleFamilia">
        <select class="SelectFamilia">
            <option value="Preto">Preto</option>
            <option value="Feminino">Feminino</option>
        </select>
</div>
</div>

<div class="DivSelect">    
     <p class="PSelectFamilia">Parentesco:</p>
     <div class="SelectStyleFamilia">
         <select class="SelectFamilia">
            <option value="Avo">Avo</option>
            <option value="Feminino">Feminino</option>
         </select>
     </div>
</div>


         </div> 
          
    <div class="Documentos">  

       <p>Documentos:</p>
    
       <div class="groupMC">  
            <input class="inputMM" type="checkbox" id="CarteiraDeTrabalho" name="" value="">
            <div class="toggle">
                <label class="LabelBtn" for="CarteiraDeTrabalho"><i></i></label>
            </div>
            <label class="checkboxLabel">Carteira de Trabalho</label>
       </div>    
        
       <div class="groupMC">  
            <input class="inputMM" type="checkbox" id="certidao" name="" value="">
            <div class="toggle">
                <label class="LabelBtn" for="certidao"><i></i></label>
            </div>
            <label class="checkboxLabel">Certidão de Nascimento</label>
            <div class="ClassInputsMC">
                <input placeholder="Data de Nascimento:"  class="InputMC" type="text" required>
                <span class="highlightMC"></span>
                <span class="barMC"></span>
            </div>
      </div>
        
      <div class="groupMC">  
         <input class="inputMM" type="checkbox" id="CertidaodeCasamento" name="" value="">
            <div class="toggle">
                <label class="LabelBtn" for="CertidaodeCasamento"><i></i></label>
            </div>
         <label class="checkboxLabel">Certidão de Casamento</label>
      </div>
               
      <div class="groupMC">  
         <input class="inputMM" type="checkbox" id="cpf" name="" value="">
         <div class="toggle">
            <label class="LabelBtn" for="cpf"><i></i></label>
         </div>
         <label class="checkboxLabel">CPF</label>
         <div class="ClassInputsMC">
            <input placeholder="CPF:"  class="InputMC" type="text" required>
            <span class="highlightMC"></span>
            <span class="barMC"></span>
         </div>
       </div>
      
       <div class="groupMC">  
         <input class="inputMM" type="checkbox" id="Reservista" name="" value="">
         <div class="toggle">
             <label class="LabelBtn" for="Reservista"><i></i></label>
         </div>
         <label class="checkboxLabel">Reservista</label>
     </div>
      
     <div class="groupMC">  
         <input class="inputMM" type="checkbox" id="RG" name="" value="">
         <div class="toggle">
            <label class="LabelBtn" for="RG"><i></i></label>
         </div>
         <label class="checkboxLabel">RG</label>
     </div>
        
     <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Titulo" name="" value="">
        <div class="toggle">
           <label class="LabelBtn" for="Titulo"><i></i></label>
        </div>
        <label class="checkboxLabel">Título de Eleitor</label>
        <div class="ClassInputsMC">
            <input placeholder="Cidade em que Vota:"  class="InputMC" type="text" required>
            <span class="highlightMC"></span>
            <span class="barMC"></span>
        </div>
     </div>

  </div>
      
    <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Animais" name="" value="">
         <div class="toggle">
                <label class="LabelBtn" for="Animais"><i></i></label>
        </div>
        <label class="checkboxLabel">Possui Animais Domesticos</label>
        
        <div class="ClassInputsMC">
            
            <input placeholder="Quantos Animais"  class="InputMC" type="number" >
            <span class="highlightMC"></span>
            <span class="barMC"></span>
            
            <div class="DivSelectAnimais">
                
                <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="Cachorro" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Cachorro"><i></i></label>
                </div>
                <label class="checkboxLabel">Cachorro</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Coelho" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Coelho"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Coelho</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Gato" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Gato"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Gato</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Tartaruga" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Tartaruga"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Tartaruga</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Roedores" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Roedores"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Roedores</label>
                </div>
       
                
       
             <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Passarinho" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Passarinho"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Passarinho</label>
                </div>

            </div>
            
            <div class="groupMCoutros">  
                <input class="inputMM" type="checkbox" id="Outros" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outros"><i></i></label>
                </div>
                <div class="ClassInputsMC">
                    <input placeholder="Outro"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
      
         </div>
</div>
            
    <div class="DivSelectMenbros">    
        <p class="PSelectFamiliaMenbros">Quantidade de Membros Residentes:</p>
        <div class="SelectStyleFamiliaMenbros">
            <select class="SelectFamiliaMenbros">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
           </select>
        </div>
    </div>

   </form>
     
        <button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>  
  </div>
    
       
      
</div>
    

    
</section>
</body>
</html>
