        <section class="SectionAlfa">
            
            <header class="HeaderCadastro">
                
                     <div class="ImgHeaderAlfa">
                         <img class="HexagonoHeader" src="img/Icons/MenuIcon.svg">
                        <img class="ImgHeaderIcon" src="img/Icons/cadastro.svg">
                    </div>
                
                     <p class="PHeaderN">Cadastros</p>
                
            </header>
            
        <section class="Inicial Fundo">
            
            <img  class="Img-Fundo" src="img/fundo-azul.jpg">
            
            <div class="DivCorpoMenu">
                <a href="#/cadastroCasa">
                      <div class="Mhexagono1">
                          <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                          <img class="MIconMenu" src="img/Icons/casa.svg">
                      </div>
                  </a>
                  <a href="#/cadastroAgua">
                    <div class="Mhexagono2">
                      <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                      <img class="MIconMenu" src="img/Icons/agua.svg">
                     </div>
                  </a>
                  <a href="#/cadastroEnergia">
                    <div class="Mhexagono3">
                      <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                      <img class="MIconMenu" src="img/Icons/energia.svg">
                    </div>
                  </a>
                 <a href="#/cadastroEducacao"> 
                 <div class="Mhexagono4">
                    <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                    <img class="MIconMenu" src="img/Icons/caderno.svg">
                 </div>
                <a href="#/cadastroSaude">
                 <div class="Mhexagono5">
                    <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                    <img class="MIconMenu" src="img/Icons/saude.svg">
                  </div>
                </a>
                <a href="#/cadastroFinancas">
                 <div class="Mhexagono6">
                      <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                      <img class="MIconMenu" src="img/Icons/dinheiro.svg">
                 </div>
                </a>
                <a href="#/cadastroFamilia">
                  <div class="Mhexagono7">
                      <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                      <img class="MIconMenu" src="img/Icons/Familia.svg">
                   </div>
                </a>
                <a href="#/cadastroSaneamento">
                  <div class="Mhexagono8">
                      <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                      <img class="MIconMenu" src="img/Icons/Lixo.svg">
                  </div>
                </a>
              <a href="#/cadastroLazer">                
               <div class="Mhexagono9">
                  <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                  <img class="MIconMenu" src="img/Icons/lazer.svg">
                </div>
              </a>
              <a href="#/cadastroProfissao">
               <div class="Mhexagono10">
                 <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                  <img class="MIconMenu" src="img/Icons/profissao.svg">
               </div>
              </a>
              <a href="#/cadastroAgricultura">
                <div class="Mhexagono11">
                    <img class="Mhexagono" src="img/Icons/hexagon2.svg">
                    <img class="MIconMenu" src="img/Icons/agricultura.svg">
                </div>
              </a>
                
            </div>
            
            
        </section>
            <a href="#/buscaCadastro">
            <button class="BtnFloatAlfa">
                <img class="ImgLupa" src="img/Icons/lupa.svg">
            </button>
                </a>
        </section>
