<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/caderno.svg">
          </div>
          <p class="PHeaderN">Cadastra Educação</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
        
    
    
  <div class="Scroll">
      
      <p class="PIndividuo">Individuo 1</p>
      

       <div class="containerEducacao">
           
       <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Gestante" name="" value="">
         <div class="toggle">
                <label class="LabelBtn" for="Gestante"><i></i></label>
        </div>
        <label class="checkboxLabel">Sabe ler e escreve</label>
</div>
           
           <div class="containerEducacao2">
       <p class="PMoradiaEducacao"> Frequenta escola ou creche:</p>
       
<div class="groupMC">  
    <div class="InputMoradia">
        
        <input class="inputMoradia" id="Urbana" type="radio" name="radio" checked="checked">
         <div class="toggle">
                <label class="LabelBtn" for="Urbana"><i></i></label>
        </div>
        <label class="checkboxLabel">Sim</label>
        
     <div class="DivMoradia">
         <div class="DivSelectEducacao">
             
            
            <p class="pcontainerSaude3">Qual tipo:</p>
            
            <div class="DivSelectEducacao2">
                
                <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="Publica" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Publica"><i></i></label>
                </div>
                <label class="checkboxLabel">Pública</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Particular" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Particular"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Particular</label>
                </div>
         
            </div>
            
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Qual curso:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Matematica">Matematica</option>
                      <option value="Geografia">Geografia</option>
                     </select>
               </div>
                </div>
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Tipo de institução:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Creche">Creche</option>
                      <option value="Escola">Escola</option>
                     </select>
               </div>
                </div>
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Em qual município:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Inhapi">Inhapi</option>
                      <option value="Mata Grande">Mata Grande</option>
                     </select>
               </div>
                </div>
             
             <div class="groupEducacao">      
                  <input  class="inputC" type="number" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Numero do crtão do SUS</label>
             </div>
             
    </div>
</div>   
             
         
             
    </div>
     </div>
        
       
 <div class="groupMC">  
     <div class="InputMoradia">
        <input class="inputMoradia"   id="Rural"  type="radio" name="radio">
         <div class="toggle">
                <label class="LabelBtn" for="Rural"><i></i></label>
        </div>
         <label class="checkboxLabel">Não:</label>
        <div class="DivMoradia">
         <div class="DivSelectEnergia">
     
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Tipo de institução:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Creche">Creche</option>
                      <option value="Escola">Escola</option>
                     </select>
               </div>
                </div>
             
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Ano / séria que parou:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="1°">1°</option>
                      <option value="2°">2°</option>
                     </select>
               </div>
                </div>
             
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Qual curso:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Matematica">Matematica</option>
                      <option value="Geografia">Geografia</option>
                     </select>
               </div>
                </div>
              
    </div>
            
     </div>
    
         
         
</div>
     
</div>  
    
</div>
<button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
           
           
</div>     
      
    
    </div>
    
    </section>
    
    </body>