<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/energia.svg">
          </div>
          <p class="PHeaderN">Cadastra Energia</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
</section>
        
  <div class="Scroll">
 <div class="containerE">
       
  <div class="containerEnergia">
       <p class="PMoradiaLocalizacao">Disponibilidade de rede eletrica:</p>
       
<div class="groupMC">  
    <div class="InputMoradia">
        
        <input class="inputMoradia" id="Urbana" type="radio" name="radio" checked="checked">
         <div class="toggle">
                <label class="LabelBtn" for="Urbana"><i></i></label>
        </div>
        <label class="checkboxLabel">Sim</label>
        
     <div class="DivMoradia">
         <div class="DivSelectEnergia">
             
            <div class="groupMCEnergia">  
                <input class="inputMM" type="checkbox" id="Medido1" >
                <div class="toggle">
                    <label class="LabelBtn" for="Medido1"><i></i></label>
               </div>
               <label class="checkboxLabel">Com medidor próprio</label>
           </div>
             
          <div class="groupMCEnergia">  
                <input class="inputMM" type="checkbox" id="Medido2" >
                <div class="toggle">
                    <label class="LabelBtn" for="Medido2"><i></i></label>
               </div>
               <label class="checkboxLabel">Com medidor comunirário</label>
           </div>
             
          <div class="groupMCEnergia">  
                <input class="inputMM" type="checkbox" id="Medido3" >
                <div class="toggle">
                    <label class="LabelBtn" for="Medido3"><i></i></label>
               </div>
               <label class="checkboxLabel">Sem medidor</label>
           </div>
             
    </div>
     </div>
        
</div>
</div>
       
 <div class="groupMC">  
     <div class="InputMoradia">
        <input class="inputMoradia"   id="Rural"  type="radio" name="radio">
         <div class="toggle">
                <label class="LabelBtn" for="Rural"><i></i></label>
        </div>
         <label class="checkboxLabel">Não:</label>
        <div class="DivMoradia">
         <div class="DivSelectEnergia">
             
            <div class="groupMCEnergia">  
                <input class="inputMM" type="checkbox" id="Com1" >
                <div class="toggle">
                    <label class="LabelBtn" for="Com1"><i></i></label>
               </div>
               <label class="checkboxLabel">Com medidor próprio</label>
           </div>
             
          <div class="groupMCEnergia">  
                <input class="inputMM" type="checkbox" id="Com2" >
                <div class="toggle">
                    <label class="LabelBtn" for="Com2"><i></i></label>
               </div>
               <label class="checkboxLabel">Com medidor comunirário</label>
           </div>
             
          <div class="groupMCEnergia">  
                <input class="inputMM" type="checkbox" id="Com3" >
                <div class="toggle">
                    <label class="LabelBtn" for="Com3"><i></i></label>
               </div>
               <label class="checkboxLabel">Sem medidor</label>
           </div>
             
              
    </div>
              <div class="divEnergia">
     <input class="inputOutro" type="checkbox" id="Outro" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro"><i></i></label>
                </div>
                <label class="checkboxLabel">Outro</label>
    <div class="groupMCoutro">  
               
                <div class="ClassInputsOutros">
                    <input placeholder="Outro"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div> 
     </div>
    
         
</div>
</div>           
</div>
       



    <div class="DivSelectEnergia2">    
                   <p class="PSelectBairroT">Tipo de acesso ao domicilio:</p>
                   <div class="SelectStyleT">
                       <select class="SelectFamilia">
                        <option class="OutroSelect" value="Avo">Avo</option>
                        <option value="Feminino">Feminino</option>
                       </select>
                 </div>
              </div>  
      <button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
      </div>
     
    </div>
    

</section>
</body>
</html>
