<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/dinheiro.svg">
          </div>
          <p class="PHeaderN">Cadastra Finanças</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
        
    
    
  <div class="Scroll">
<div class="ConteineFinancas">
    <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Renda da familia:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Coletado">Coletado</option>
                      <option value="Não coletado">Não coletado</option>
                     </select>
               </div>
                </div>
    
          <div class="Outro5">
         <div class="divSaneamento1">
     <input class="inputOutro" type="checkbox" id="Outro" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro"><i></i></label>
                </div>
                <label class="checkboxLabel">Participante de programa de redistribuição de renda</label>
    <div class="groupMCoutro">  
               <div class="ClassInputsOutros">
                    <input placeholder="Qual"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div> 
    </div>
    
      <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Meio de locomoção principal:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option value="Não coletado">Moto</option>
                      <option value="Não coletado">Carro</option>
                      <option value="Não coletado">Cavalo</option>
                      <option value="Não coletado">Bicicleta</option>
                     </select>
               </div>
                </div>
    <div class="ConteineFinancas1">
     <input class="inputOutro" type="checkbox" id="Outro1" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro1"><i></i></label>
                </div>
                <label class="checkboxLabel">Própio</label>
    <div class="groupMCoutro Financas3">  
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option value="Não coletado">Moto</option>
                      <option value="Não coletado">Carro</option>
                      <option value="Não coletado">Cavalo</option>
                      <option value="Não coletado">Bicicleta</option>
                     </select>
               </div>
            </div>
    </div> 
    </div>
      
<button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
    
    </div>
    
    </section>
    
    </body>