<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/casa.svg">
          </div>
          <p class="PHeaderN">Cadastra Moradia</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
</section>
        
  <div class="Scroll">
 <div class="containerB">
       
  <div class="containerMoradia">
       <p class="PMoradiaLocalizacao">Localização:</p>
       
<div class="groupMC">  
    <div class="InputMoradia">
        
        <input class="inputMoradia" id="Urbana" type="radio" name="radio" checked="checked">
         <div class="toggle">
                <label class="LabelBtn" for="Urbana"><i></i></label>
        </div>
        <label class="checkboxLabel">Urbana</label>
        
     <div class="DivMoradia">
         <div class="DivSelectLocalizacao">
        <div class="DivSelect">    
            <p class="PSelectLocalizacao">Bairro:</p>
            <div class="SelectStyleLocalizacao">
                <select class="SelectFamilia">
                <option value="Avo">Avo</option>
                <option value="Feminino">Feminino</option>
                </select>
            </div>
        </div>
     <div class="groupMoradia">      
      <input placeholder="Logradouro:"  class="InputMC" type="text" required>
                <span class="highlightMC"></span>
                <span class="barMC"></span>
    </div>
    </div>
     </div>
        
</div>
</div>
       
 <div class="groupMC">  
     <div class="InputMoradia">
        <input class="inputMoradia"   id="Rural"  type="radio" name="radio">
         <div class="toggle">
                <label class="LabelBtn" for="Rural"><i></i></label>
        </div>
         <label class="checkboxLabel">Rural</label>
     
    
         <div class="DivMoradia">

                <div class="groupMCAnimais1">  
                <input  class="inputMoradia" checked="checked" type="radio" name="radioo" id="Sitio" >
                <div class="toggle">
                    <label class="LabelBtn" for="Sitio"><i></i></label>
                </div>
                <label class="checkboxLabel">Sitio</label>
                
               <div class="DivSelectBairro">
                <div class="DivSelect">    
                   <p class="PSelectBairro">Sitio:</p>
                   <div class="SelectStyleBairro1">
                       <select class="SelectFamilia">
                        <option value="Avo">Avo</option>
                        <option value="Feminino">Feminino</option>
                       </select>
                 </div>
              </div>      
              </div>
            </div>
       
                <div class="groupMCAnimais2">  
                    <input class="inputMoradia"   type="radio" name="radioo" id="Povoado" >
                    <div class="toggle">
                        <label class="LabelBtn" for="Povoado"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Povoado</label>
                      <div class="DivSelectBairro">
                <div class="DivSelect">    
                   <p class="PSelectBairro">Povoado:</p>
                   <div class="SelectStyleBairro2">
                       <select class="SelectFamilia">
                        <option value="Avo">Avo</option>
                        <option value="Feminino">Feminino</option>
                       </select>
                 </div>
              </div>      
              </div>
            </div>
             
        </div>
         
</div>
</div>           
</div>
       
  <div class="groupC">      
      <input  class="inputC" type="number" required>
      <span class="highlightC"></span>
      <span class="barC"></span>
      <label class="labelC">Numero</label>
    </div>
  <div class="groupC">      
      <input  class="inputC" type="text" required>
      <span class="highlightC"></span>
      <span class="barC"></span>
      <label class="labelC">CEP</label>
    </div>
   
  <div class="SelectBairro">
   <div class="DivSelect">    
       <p class="PSelectBairro">Situção da Moradia:</p>
       <div class="SelectStyleBairro3">
           <select class="SelectFamilia">
            <option value="Avo">Avo</option>
            <option value="Feminino">Feminino</option>
           </select>
     </div>
 </div> 
</div>
  <div class="SelectBairro1">
   <div class="DivSelect">    
       <p class="PSelectBairro">Tipo de casa:</p>
       <div class="SelectStyleBairro4">
           <select class="SelectFamilia">
            <option value="Avo">Avo</option>
            <option value="Feminino">Feminino</option>
           </select>
     </div>
 </div> 
</div>  
       
 <div class="SelectMoradia1">
      <div class="groupC">      
      <input  class="inputC" type="number" required>
      <span class="highlightC"></span>
      <span class="barC"></span>
      <label class="labelC">Numero</label>
    </div>
</div>
       
<div class="DivSelectBairroT">
                <div class="DivSelect">    
                   <p class="PSelectBairroT">Material predominante na construção do imovels:</p>
                   <div class="SelectStyleT">
                       <select class="SelectFamilia">
                        <option value="Avo">Avo</option>
                        <option value="Feminino">Feminino</option>
                       </select>
                 </div>
              </div>   
<div class="divN">
     <input class="inputOutro" type="checkbox" id="Outro" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro"><i></i></label>
                </div>
                <label class="checkboxLabel">Outro</label>
    <div class="groupMCoutro">  
               
                <div class="ClassInputsOutros">
                    <input placeholder="Outro"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div>    

    <div class="DivSelect">    
                   <p class="PSelectBairroT">Tipo de acesso ao domicilio:</p>
                   <div class="SelectStyleT">
                       <select class="SelectFamilia">
                        <option class="OutroSelect" value="Avo">Avo</option>
                        <option value="Feminino">Feminino</option>
                       </select>
                 </div>
              </div>   
<div class="divN">
     <input class="inputOutro" type="checkbox" id="Outros" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outros"><i></i></label>
                </div>
    <label class="checkboxLabel">Outro</label> 
    
    <div class="groupMCoutro">  
               
                <div class="ClassInputsOutros">
                    <input placeholder="Outro"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div>   
              </div>
   
<button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>  
    
</div>
</div>
    
</section>
</body>
</html>
