<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/Lixo.svg">
          </div>
          <p class="PHeaderN">Cadastra Pofissão</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
        
    
    
  <div class="Scroll">

    
       <div class="containerProfisao">
           
           
           <div class="containerSaneamento2">
       <p class="PMoradiaSaneamento">Você está trabalhando:</p>
       
<div class="groupMC">  
    <div class="InputMoradia">
        
        <input class="inputMoradia" id="Urbana" type="radio" name="radio" checked="checked">
         <div class="toggle">
                <label class="LabelBtn" for="Urbana"><i></i></label>
        </div>
        <label class="checkboxLabel">Sim</label>
        
     <div class="DivMoradia DivProfissao">
         <div class="DivSelectEducacao">
            
            
                
                  <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Quantos empregos possue:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                     </select>
               </div>
                </div>
             <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Quantas horas passa trabalhando:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                     </select>
               </div>
                </div>
         
    <p class="pcontainerProfisao">Qual tipo:</p>
            
            <div class="DivSelectEducacao2">
                
                <div class="groupMCProfissao">  
                <input class="inputMM" type="checkbox" id="Dona" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Dona"><i></i></label>
                </div>
                <label class="checkboxLabel">Dona de casa</label>
                </div>
       
                <div class="groupMCProfissao">  
                    <input class="inputMM" type="checkbox" id="Empregado" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Empregado"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Empregado com carteira de trabalho</label>
                </div>
                
                <div class="groupMCProfissao">  
                    <input class="inputMM" type="checkbox" id="temporario" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="temporario"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Trabalhor temporário</label>
                </div>
                
                <div class="groupMCProfissao">  
                    <input class="inputMM" type="checkbox" id="carteira" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="carteira"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Empregado com carteira de trabalho</label>
                </div>
                
                <div class="groupMCProfissao">  
                    <input class="inputMM" type="checkbox" id="Autonomo" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Autonomo"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Autonomo</label>
                </div>
                
                <div class="groupMCProfissao">  
                    <input class="inputMM" type="checkbox" id="Militar" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Militar"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Militar</label>
                </div>
                
                <div class="groupMCProfissao">  
                    <input class="inputMM ProfissaoCheckbox" type="checkbox" id="Concursado" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Concursado"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Concursado</label>
                
                <div class="SelectStyleEducacao4 ProfissaoNone">
                <p class="PSelectBairroT">Tipo:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Estadual">Estadual</option>
                      <option value="Municipal">Municipal</option>
                     </select>
               </div>
                </div>
                </div>
            
                <div class="groupMCProfissao">  
                    <input class="inputMM ProfissaoCheckbox" type="checkbox" id="Contratado" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Contratado"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Contratado</label>
                
                <div class="SelectStyleEducacao4 ProfissaoNone">
                <p class="PSelectBairroT">Tipo:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Estadual">Estadual</option>
                      <option value="Municipal">Municipal</option>
                     </select>
               </div>
                </div>
                    
                    
            <div class="groupProfisao">      
                  <input  class="inputC" type="text" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Qual profisão</label>
             </div> 
            

                </div>
                
<button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
         
            </div>
</div>
        
</div>   
     
</div>
</div>
        
       
 <div class="groupMC">  
     <div class="InputMoradia">
        <input class="inputMoradia"   id="Rural"  type="radio" name="radio">
         <div class="toggle">
                <label class="LabelBtn" for="Rural"><i></i></label>
        </div>
         <label class="checkboxLabel">Não:</label>
        <div class="DivMoradia DivProfissao2">

            
        <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Teve algum trabalho nos ultimos 12 meses:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Sim">Sim</option>
                      <option value="Não">Não</option>
                     </select>
               </div>
                </div>
        <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Quantos meses passou trabalhando:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                     </select>
               </div>
                </div>
            <div class="groupEducacao">      
                  <input  class="inputC" type="text" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Qual profisão</label>
             </div> 
            
            <button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
     </div>  
         
          
         

     
     
</div>  
             
                  
</div>
               
</div>
    

</div>     
      
    
    </div>
   
    </section>
    
    
    
    </body>