<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/Lixo.svg">
          </div>
          <p class="PHeaderN">Cadastra Saneamento</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
        
    
    
  <div class="Scroll">

    
       <div class="containerEducacao">
           
           
           <div class="containerSaneamento2">
       <p class="PMoradiaSaneamento">Destino das fezes:</p>
       
<div class="groupMC">  
    <div class="InputMoradia">
        
        <input class="inputMoradia" id="Urbana" type="radio" name="radio" checked="checked">
         <div class="toggle">
                <label class="LabelBtn" for="Urbana"><i></i></label>
        </div>
        <label class="checkboxLabel">Sim</label>
        
     <div class="DivMoradia">
         <div class="DivSelectEducacao">
            
            <div class="DivSelectEducacao2">
                
                <div class="groupMCSaneamento">  
                <input class="inputMM" type="checkbox" id="FossaSeptica" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="FossaSeptica"><i></i></label>
                </div>
                <label class="checkboxLabel">Fossa septica</label>
                </div>
       
                <div class="groupMCSaneamento">  
                    <input class="inputMM" type="checkbox" id="FossaRudimentar" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="FossaRudimentar"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Fossa rudimentar</label>
                </div>
                
                <div class="groupMCSaneamento">  
                    <input class="inputMM" type="checkbox" id="RedeColetora" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="RedeColetora"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Rede Coletora</label>
                </div>
         
            </div>
            
  
             
    </div>
</div>   
             
         
             
    </div>
     </div>
        
       
 <div class="groupMC">  
     <div class="InputMoradia">
        <input class="inputMoradia"   id="Rural"  type="radio" name="radio">
         <div class="toggle">
                <label class="LabelBtn" for="Rural"><i></i></label>
        </div>
         <label class="checkboxLabel">Não:</label>
        <div class="DivMoradia">
         <div class="DivSelectEnergia">
     
             <div class="groupMCSaneamento">  
                <input class="inputMM" type="checkbox" id="ValaCeu" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="ValaCeu"><i></i></label>
                </div>
                <label class="checkboxLabel">Vala a céu aberto</label>
                </div>
             
            <div class="groupMCSaneamento">  
                <input class="inputMM" type="checkbox" id="DiretoParaRio" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="DiretoParaRio"><i></i></label>
                </div>
                <label class="checkboxLabel">Direto para o rio, lago ou mar</label>
                </div>
              
    </div>
    <div class="divSaneamento1">
     <input class="inputOutro" type="checkbox" id="Outro" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro"><i></i></label>
                </div>
                <label class="checkboxLabel">Outro</label>
    <div class="groupMCoutro">  
               <div class="ClassInputsOutros">
                    <input placeholder="Qual"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div> 
            
                         <div class="SelectStyleEducacao4">
                <p class="PSelectBairroT">Lixo do domicílio:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Coletado">Coletado</option>
                      <option value="Não coletado">Não coletado</option>
                     </select>
               </div>
                </div>
            
     </div>
    
         
         
</div>
     
</div>  
    
</div>
<button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
           
           
</div>     
      
    
    </div>
    
    </section>
    
    </body>