<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta name="description" content="App">
        <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
        
<section class="SectionAlfa">
        
       <header class="HeaderCadastro">
          <div class="ImgHeaderAlfa">
              <img class="HexagonoHeader" src="/img/Icons/hexagon2.svg">
              <img class="ImgHeaderIcon" src="/img/Icons/saude.svg">
          </div>
          <p class="PHeaderN">Cadastra Saude</p>
       </header>
            
<section class="Inicial Fundo">
    <img  class="Img-Fundo" src="/img/fundo-azul.jpg">
</section>
        
    
    
  <div class="Scroll">
      
      <div class="containerSaude1">
            <p class="PSelectBairroT">ACS responsavél:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Marinalva">Marinalva</option>
                      <option value="Feminino">Feminino</option>
                     </select>
               </div>
          
               <div class="groupSaude">      
                  <input  class="inputC" type="number" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Numero</label>
               </div>
      </div>
      
       <p class="PIndividuo">Individuo 1</p>
      
      <div class="containerSaude2">
          <div class="groupSaude">      
                  <input  class="inputC" type="number" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Numero do crtão do SUS</label>
               </div>
          <div class="groupSaude">      
                  <input  class="inputC" type="text" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Última vacina</label>
               </div>
          <div class="groupSaude">      
                  <input  class="inputC" type="date" required>
                  <span class="highlightC"></span>
                  <span class="barC"></span>
                  <label class="labelC">Data última vacina</label>
               </div>
      </div>
      
       <div class="containerSaude3">
       <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Gestante" name="" value="">
         <div class="toggle">
                <label class="LabelBtn" for="Gestante"><i></i></label>
        </div>
        <label class="checkboxLabel">Gestante</label>
        
        <div class="ClassInputsMC">
            
            <p class="pcontainerSaude3">Em qual trimestre Encontrasse:</p>
            
            <div class="DivSelectAnimais">
                
                <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="1Trimestre" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="1Trimestre"><i></i></label>
                </div>
                <label class="checkboxLabel">1° Trimestre</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="2Trimestre" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="2Trimestre"><i></i></label>
                    </div>
                    <label class="checkboxLabel">2° Trimestre</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="3Trimestre" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="3Trimestre"><i></i></label>
                    </div>
                    <label class="checkboxLabel">3° Trimestre</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="4Trimestre" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="4Trimestre"><i></i></label>
                    </div>
                    <label class="checkboxLabel">4° Trimestre</label>
                </div>   
            </div>
            
            <div class="SelectStyleSaude">
                <p class="PSelectBairroT">Faz pré-natal:</p>
                 <div class="SelectStyleT">
                     <select class="SelectFamilia">
                      <option class="OutroSelect" value="Sim">Sim</option>
                      <option value="Não">Não</option>
                     </select>
               </div>
                </div>

         </div>
</div>
</div>     
      
       <div class="containerSaude3">
       <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Deficiente" name="" value="">
         <div class="toggle">
                <label class="LabelBtn" for="Deficiente"><i></i></label>
        </div>
        <label class="checkboxLabel">Deficiente</label>
        
        <div class="ClassInputsMC">
            
            <p class="pcontainerSaude3">Qual deficiência:</p>
            
            <div class="DivSelectAnimais">
                
                <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="Auditiva" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Auditiva"><i></i></label>
                </div>
                <label class="checkboxLabel">Auditiva</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Drogas" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Drogas"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Física</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Visual" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Visual"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Visual</label>
                </div>
                
       
                  <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Intelectual" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Intelectual"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Intelectual / cognitiva</label>
                </div>
                
            </div>


         </div>
</div>
</div>  
      
      <div class="containerSaude3">
       <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Doencas" name="" value="">
         <div class="toggle">
                <label class="LabelBtn" for="Doencas"><i></i></label>
        </div>
        <label class="checkboxLabel">Doenças pré-existentes</label>
        
        <div class="ClassInputsMC">
            
            <p class="pcontainerSaude3">Quais doenças:</p>
            
            <div class="DivSelectAnimais">
                
                <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="Diabetes" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Diabetes"><i></i></label>
                </div>
                <label class="checkboxLabel">Diábetes</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Desnuntricao" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Desnuntricao"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Desnuntriçao</label>
                </div>
       
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Cancerigena" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Cancerigena"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Cancerígena</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Renal" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Renal"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Renal</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Acido" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Acido"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Ácido-peptica</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="DST" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="DST"><i></i></label>
                    </div>
                    <label class="checkboxLabel">DST</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="AIDS" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="AIDS"><i></i></label>
                    </div>
                    <label class="checkboxLabel">AIDS</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Cardiaca" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Cardiaca"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Cardíaca</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Respiratoria" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Respiratoria"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Respirátoria</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Hepatopatica" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Hepatopatica"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Hepatopática</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Auto-imune" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Auto-imune"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Auto-imune</label>
                </div> 
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Hematologica" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Hematologica"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Hematologica</label>
                </div>
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="HInpertensao" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="HInpertensao"><i></i></label>
                    </div>
                    <label class="checkboxLabel">HInpertensão</label>
                </div>
                
            </div>
 <div class="SelectStyleSaude4">
                 <div class="divEnergia">
     <input class="inputOutro" type="checkbox" id="Outro1" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro1"><i></i></label>
                </div>
                <label class="checkboxLabel">Outro</label>
    <div class="groupMCoutro">  
               
                <div class="ClassInputsOutros">
                    <input placeholder="Outro"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div> 
                </div>
         </div>   
           
</div>
</div>
      
       <div class="containerSaude3">
       <div class="groupMC">  
        <input class="inputMM" type="checkbox" id="Vicio" name="" value="">
         <div class="toggle">
                <label class="LabelBtn" for="Vicio"><i></i></label>
        </div>
        <label class="checkboxLabel">Vicio</label>
        
        <div class="ClassInputsMC">
            
            <p class="pcontainerSaude3">Quais vicios:</p>
            
            <div class="DivSelectAnimais">
                
                 <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="Al" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Al"><i></i></label>
                </div>
                <label class="checkboxLabel">Alcoolismo</label>
                </div>
                
                <div class="groupMCAnimais">  
                <input class="inputMM" type="checkbox" id="Alcoolismo" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Alcoolismo"><i></i></label>
                </div>
                <label class="checkboxLabel">Drogas ilicitas</label>
                </div>
                
                
                <div class="groupMCAnimais">  
                    <input class="inputMM" type="checkbox" id="Tabagismo" name="" value="">
                    <div class="toggle">
                        <label class="LabelBtn" for="Tabagismo"><i></i></label>
                    </div>
                    <label class="checkboxLabel">Tabagismo</label>
                </div>
       
                

         </div>
</div>
           
           <div class="divAgua1">
     <input class="inputOutro" type="checkbox" id="Outro" name="" value="">
                <div class="toggle">
                    <label class="LabelBtn" for="Outro"><i></i></label>
                </div>
                <label class="checkboxLabel">Uso de plantas medicinais</label>
    <div class="groupMCoutro">  
               
                <div class="ClassInputsOutros">
                    <input placeholder="Qual"  class="InputMC" type="text" required>
                    <span class="highlightMC"></span>
                    <span class="barMC"></span>
                </div>
            </div>
    </div> 
        
</div>
         
           <button class="BtnProximo">
    <img class="ImgBtn1" src="/img/Icons/Hexagon-3.svg">
    <img class="ImgBtn2" src="/img/Icons/next.svg">
</button>
 </div>
    
    
    </section>
    
    </body>